    <!-- Student Name: Selene Chhangur 
      - Student ID: 300742304 
      - File Name: footer.ejs 
      - Date: June 9, 2023 
      - COMP 229 Web Application Development -->

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>