    <!-- Selene Chhangur - 300742304 - Summer 2023 - COMP 229 - Web App Development -->

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>